* {
  box-sizing: border-box;
}

:root {
  --card-height: 635px;
}

.card {
  display: flex;
  flex-direction: column;
  margin: calc((100vh - var(--card-height)) / 2) auto;
  width: 500px;
  height: var(--card-height);
  border: 2px solid black;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
}

.main {
  padding: 20px 85px;
}

.location:before {
  content: "📍";
}

h1,
p {
  margin: 15px 0;
}

.photo {
  height: 300px;
  width: 300px;
  border: 15px solid #f9fafc;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 3px rgba(0, 0, 0, 0.125);
}

.follow-btn {
  margin-top: 10px;
  padding: 5px 25px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px #22496dc8;
  color: white;
  background-color: #66b4ff;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
}

button:hover {
  background-color: #5799d7;
  color: rgb(220, 220, 220);
  transition: 0.3s;
}

.footer {
  display: flex;
  margin-top: auto;
  color: white;
  background-color: #1f344b;
}

.footer-section {
  display: flex;
  justify-content: center;
  width: calc(100% / 3);
}

.footer-section:nth-child(2) {
  border-right: 2px solid #294664;
  border-left: 2px solid #294664;
}

.footer-section-text > span:first-child {
  color: #875f6a;
}

.footer-section-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
}

@media (max-height: 635px) {
  .card {
    margin: auto;
  }
}
